{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Simple CRUD Web App {% endblock %}</h1>
<h2>{% block subtitle %} By Diego Gonzalez Delgado {% endblock %}</h2>
{% for post in posts %}
<a href="{{ url_for('post', post_id=post['id']) }}">
    <h2>{{ post['title'] }}</h2>
</a>
<span class="badge badge-primary">{{ post['created'] }}</span>
<a href="{{ url_for('edit', id=post['id']) }}">
    <span class="badge badge-warning">Edit</span>
</a>
<hr>
{% endfor %}

<form action='' method = "POST">
    <p>Product Id <input type = "integer" name = "product_id" /></p>
    <p>Name <input type = "text" name = "product_name" /></p>
    <p>Quantity <input type = "integer" name = "quantity" /></p>
    <p>Category <input type = "text" name = "product_category" /></p>
    <input type="hidden" name="btn_identifier" value="newInput" />
    <p><input type = "submit" value = "Submit" /></p>
</form>
<form action='' method="POST">
    <a href="{{ url_for('download', filename='product_info.csv') }}"></a>
    <input type="hidden" name="btn_identifier" value="getCSV" />
    <input type="submit" value="Get .csv File"/>
</form>
<form action='' method="POST">
    <input type="hidden" name="btn_identifier" value="showData" />
    <input type="submit" value="Show all Data"/>
</form>
{% endblock %}

